body {
  min-width: 350px;
  min-height: 200px;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}

#tabs {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.tab {
  width: 33%;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
}

.tab:hover {
  cursor: pointer;
}
