body {
  min-width: 350px;
  min-height: 200px;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}

.primary-button,
#export-button {
  background-color: dodgerblue;
  border-radius: 2rem;
  border: none;
  color: #fff;
  padding: 0.4rem 0.6rem;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.primary-button:hover {
  background-color: #5baeff;
}

#tabs {
  display: flex;
  justify-content: space-between;
}

.tab {
  width: 33%;
  padding: 0.6rem;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
}

.tab:hover {
  background-color: #ddd;
}

.tab.active {
  background-color: #d3d3d3;
}

.tab-content {
  padding: 0 1rem;
}

#current-url {
  color: #c1ff72;
}

#export-button {
  background-color: #c1ff72;
  color: inherit;
}

#export-button:hover {
  background-color: #cfff93;
}
